

<article class="border-t border-primary dark:border-soft-white p-5 flex flex-col gap-y-2 lg:gap-x-10 lg:flex-row lg:items-start lg:p-10">
  <p class="flex-shrink-0">
    <date>2022年9月25日</date>
  </p>
  <div class="space-y-3 lg:space-y-5">
    <h2 class="text-2xl lg:text-3xl">
      <a href="" class="hover:opacity-80 transition-opacity">タイトル</a>
    </h2>
    <ul class="flex gap-3 flex-wrap">
      <li><a href="" class="bg-primary text-soft-white dark:text-secondary dark:bg-soft-white py-1 px-1.5 rounded-lg hover:opacity-90 transition-opacity">React</a></li>
    </ul>
    <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum assumenda minima nihil magnam autem ad, recusandae magni aut dolorem esse excepturi molestias deserunt temporibus odit, modi eum, laborum animi consequuntur?</p>
    <a href="" class="bg-blue-600 text-soft-white dark:text-soft-white rounded-md px-3 py-1.5 inline-block underline-offset-2 hover:opacity-90 hover:underline transition-opacity text-lg">記事を読む<span class="align-top">&rarr;</span></a>
  </div>
</article>
