---
import BlogItem from '@components/BlogItem.astro';
import LinkButton from '@components/LinkButton';
import MainLayout from '@layouts/MainLayout.astro';
import { getCollection } from 'astro:content';

export async function getStaticPaths({ paginate }: any) {
  const posts = await getCollection('blog');
  const sortedPosts = posts.sort((a, b) => {
    return Date.parse(b.data.date) - Date.parse(a.data.date);
  });
  return paginate(sortedPosts, { pageSize: 6 });
}
const { page } = Astro.props;
---

<MainLayout title="Blogs" description="KyoyaDev Blog Archive Page">
  <div class="divide-y divide-primary dark:divide-soft-white">
    {
      page.data.map((post: any) => {
        return <BlogItem key={post.url} post={post} />;
      })
    }
  </div>

  <div class="mt-10 space-y-6">
    <div class="flex justify-center items-center gap-x-5 md:gap-x-8">
      <LinkButton href={page.url.prev} disabled={!page.url.prev}>
        新しい記事へ
      </LinkButton>
      <LinkButton href={page.url.next} disabled={!page.url.next}>
        古い記事へ
      </LinkButton>
    </div>
  </div>
</MainLayout>
