---
import Container from "@components/Container";
import Footer from "@components/Footer";
import Header from "@components/Header";

export interface Props {
	title: string;
  description?: string;
}

const { title, description } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
    <meta name="description" content={description || 'This site is KyoyaDev Blog and portfolio.'} />
	</head>
	<body class="dark:bg-primary bg-soft-white dark:text-soft-white">
    <div class="min-h-screen grid grid-rows-[auto_1fr_auto] grid-cols-[100%] overflow-hidden">
      <Header client:load/>
      <main>
        <Container className="py-5 md:pt-10 md:pb-16">
          <slot />
        </Container>
      </main>
      <Footer/>
    </div>
  </body>
</html>

<script is:inline>
  // チラツキ防止
  // localStorageにデータがあるときはそちらを適用
  if(typeof window.localStorage.getItem('theme') === 'string'){
    const currentTheme = window.localStorage.getItem('theme');
    if(currentTheme === 'dark'){
      document.documentElement.classList.add('dark');
    }
  }
  // localStorageになにもない時はmatchMediaで判定
  if (!typeof window.localStorage.getItem('theme') === 'string' && window.matchMedia('(prefers-color-scheme: dark)').matches) {
    document.documentElement.classList.add('dark');
  }
</script>

